<!DOCTYPE html>
<html>
  <% include ../partials/head %>

  <body>
    <% include ../partials/header %>
    <div class="container">      
      <a href="./" class="waves-effect waves-teal btn-flat"><i class="material-icons left">arrow_back</i>Back</a>
      <h1 class="chosen-heading-font">Details</h1>
      <% if (user) { %>
        <form action="/foods/<%= food._id %>?_method=DELETE" method="POST">
          <button class="waves-effect waves-teal btn-flat" type="submit"><i class="material-icons left">delete</i>Delete</button>
        </form>
      <% } %>
      <table>
        <thead>
            <tr>
              <th>Restaurant Name</th>
              <th>Menu Item</th>
              <% if (user) { %>
                <th>Rate It</th>
              <% } %>
            </tr>
          </thead>
        <tbody>
            <tr>
              <td><%= food.restaurant.name %></td> 
              <td><%= food.name %></td>
              <% if (user) { %>
                <td>
                  <% if (!review || review.rating === 0) { %>

                    <div class="rating-container"> 
                      <i class="material-icons rating-star" id="1">star_border</i> 
                      <i class="material-icons rating-star" id="2">star_border</i> 
                      <i class="material-icons rating-star" id="3">star_border</i> 
                      <i class="material-icons rating-star" id="4">star_border</i> 
                      <i class="material-icons rating-star" id="5">star_border</i> 
                    </div>
                  <% } else { %>
                    <div class="rating-container"> 
                        <i class="material-icons rating-star" id="1">
                          <% if (review.rating >= 1) { %>
                            star
                          <% } else if (review.rating >= 0.5) { %>
                            star_half
                          <% } else { %>
                            star_border
                          <% } %>
                        </i> 
                        <i class="material-icons rating-star" id="2">
                            <% if (review.rating >= 2) { %>
                              star
                            <% } else if (review.rating >= 1.5) { %>
                              star_half
                            <% } else { %>
                              star_border
                            <% } %>
                        </i> 
                        <i class="material-icons rating-star" id="3">
                            <% if (review.rating >= 3) { %>
                              star
                            <% } else if (review.rating >= 2.5) { %>
                              star_half
                            <% } else { %>
                              star_border
                            <% } %>
                        </i> 
                        <i class="material-icons rating-star" id="4">
                            <% if (review.rating >= 4) { %>
                              star
                            <% } else if (review.rating >= 3.5) { %>
                              star_half
                            <% } else { %>
                              star_border
                            <% } %>
                        </i> 
                        <i class="material-icons rating-star" id="5">
                            <% if (review.rating === 5) { %>
                              star
                            <% } else if (review.rating >= 4.5) { %>
                              star_half
                            <% } else { %>
                              star_border
                            <% } %>
                        </i> 
                      </div>
                  <% } %>
                </td>
              <% } %>
            </tr>
        </tbody>
      </table>
      <% if (user) { %>
        <a href="/foods/<%= food._id %>/edit" method="GET" class="waves-effect waves-teal btn-flat"><i class="material-icons left">create</i>Update</a>
      <% } %>
    </div>
    <% include ../partials/footer %>
  </body>
  <% if (user) { %>
    <script>
      $('.rating-star').on('click', function(e) {
        console.log('foo')
        $.ajax({
          url: '/reviews',
          method: 'POST',
          data: {
            user: '<%= user._id %>',
            food: '<%= food._id %>',
            rating: Number(e.target.id)
          }
        }).done(() => {
          location.reload();
        })
      })
    </script>
  <% } %>
</html>